
@{
    ViewBag.Title = "Index";
}

<h2>Employee's</h2>

<div class="container m-2">

    <table class="table table-active">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>
</div>